{% assign list_items = include.items | default: nil %}
{% assign list_class = include.class | default: 'list' %}
{% assign item_class = include.item_class | default: '' %}

{% if list_items and list_items != empty %}
  <ul class="list {{ list_class }}">
    {% for item in list_items %}
      <li class="list__item {{ item_class }}">
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.title }}</a>
        {% else %}
          {{ item.title }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
