---
layout: post
title: Categories
permalink: /annotations/categories/
---
{% assign annotation_posts = site.annotations | sort: "date" | reverse %}
{% assign annotation_categories = "" | split: "" %}

{% for post in annotation_posts %}
  {% for category in post.categories %}
    {% unless annotation_categories contains category %}
      {% assign annotation_categories = annotation_categories | push: category %}
    {% endunless %}
  {% endfor %}
{% endfor %}

{% assign annotation_categories = annotation_categories | sort %}
<ul class="taxonomy-list">
  {% for category_name in annotation_categories %}
    <li>
      <h2>{{ category_name }}</h2>
      <ul>
        {% for post in annotation_posts %}
          {% if post.categories contains category_name %}
            <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
