---
layout: default
---

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <style>
        .border-box {
            border: 2px solid black; 
            padding: 5px 10px; 
            margin: 10px 0; 
        }
    </style>
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
        <nav>
            <a href="{{ "/posts/" | relative_url }}">Posts</a>
            <a href="{{ "/tags/" | relative_url }}">Tags</a>
            <a href="{{ "/categories/" | relative_url }}">Categories</a>
            <a href="{{ "/coffee/" | relative_url }}">Coffee</a>
        </nav>
    </header>
    <main>
        <section>
            <h5>
                Hello, my name is Arthur, 
                I like to play with low level programming, 
                and languages that almost no one cares about.
               <br>
                <ul>
                    <li>
                        <a href="https://github.com/Aguiar575">My github</a>
                    </li>
                    <li>
                        I use VIM BTW
                    </li>
                </ul>
            </h5>
        </section>
        <section class="border-box">
            <h6>
                All the insults here are directed at me, since this blog is for myself, 
                so no getting all bent out of shape.
            </h6>
        </section>
        <section>
            <h2>Latest Posts</h2>
            <ul>
                {% for post in site.posts limit:5 %}
                    <li>
                        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                    </li>
                    <br>
                {% endfor %}
            </ul>
        </section>
    </main>
    <br>
    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
    </footer>
</body>
</html>

