---
layout: post
title: Tags
permalink: /annotations/tags/
---
{% assign annotation_posts = site.annotations | sort: "date" | reverse %}
{% assign annotation_tags = "" | split: "" %}

{% for post in annotation_posts %}
  {% for tag in post.tags %}
    {% unless annotation_tags contains tag %}
      {% assign annotation_tags = annotation_tags | push: tag %}
    {% endunless %}
  {% endfor %}
{% endfor %}

{% assign annotation_tags = annotation_tags | sort %}
<ul class="taxonomy-list">
  {% for tag_name in annotation_tags %}
    <li>
      <h2>{{ tag_name }}</h2>
      <ul>
        {% for post in annotation_posts %}
          {% if post.tags contains tag_name %}
            <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
